$main: #33668E;
$secondary: #FFF5AC;

$phone: "only screen and (max-width : 479px)";
$tablets: "only screen and (max-width : 1000px)";
$laptops: "only screen and (max-width : 1600px)";


*{margin:0; padding:0;}
html {height: 100%;}
body{
	font-family:Roboto,-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif", sans-serif; 
	font-weight: 300; 
	height: 100%; 
	overflow:hidden;
}

@keyframes makeInvisible { 0% { display:block; opacity: 1;} 99% {display: block;} 100%{opacity: 0; display:none}}


/* Animations */
.fade-out-down {
	transform: translateY(50px);
	opacity:0;
}
.fade-in-up {
	transform: translateY(0px);
	opacity: 1;
	transition: all 0.5s;
}
.invisible {
	opacity: 0 !important;
}
.visible {
	opacity: 1 !important;
}
.block {
	display: block;
}
.hidden {
	display:none;
}
.invisible-move-down {
	transform: translateY(50px);
	opacity: 0;
}
.transition {
	transition: transform 0.5s, opacity 0.5s;
}

/* global */
.full {
	position: absolute;
	left: 0;
	top:0;
	bottom:0;
	right:0;
	z-index:9;
}


#main-page {
    min-height: 100%;
    background: $main;
	transition: background 3s, opacity 0.5s;
}
#main-page, #graph-page {
	text-align:center;
	padding: 5vh 30px 0;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}
#main-title {
	font-size: 80px;
	line-height: 0.8;	
	font-weight: 300;
	color:white;
	text-transform:uppercase;
	.small {
		font-size: 45px;
	}
	@media #{$laptops}{
		font-size: 50px;
	}
	@media #{$tablets}{
		font-size: 40px;
	}
	
}
.animate-true #main-title {
	opacity: 0;
	transform: translateY(50px);
	transition: all 0.3s;
	&.animate-in {
		transform: translateY(0);
		opacity: 1;
	}
}
#subtitle {
	opacity:0;
	color: white;
	font-size: 40px;
	text-transform:uppercase;
	margin: 10px 0;
	font-weight: 300;
	color: lighten($main, 40%);
	transform:translateY(30vh);
	@media #{$laptops}{
		font-size: 30px;
	}
	@media #{$tablets}{
		font-size: 25px;
	}
	@media #{$phone}{
		font-size: 22px;
	}
}
.animate-true #subtitle {
	opacity: 0;
	transform: translateY(50px);
	transition: all 0.3s;
	&.animate-in {
		transform: translateY(0);
		opacity: 1;
	}
}


/* Icons */
#main-list-container {
	text-align:center;
	max-width: 640px;
	width: 100%;
	margin:auto;
}
#main-list {
	list-style:none;
	margin: 40px 0;
}
.main-list-item {
	position: relative;
	margin: 10px 20px;
	display:inline-block;
	width: 120px;
	transition: all 0.5s;
	&:hover {
		.main-list-item-icon-wrapper {
			transform: translateY(-15px);
		}
	}

}
.animate-true .main-list-item {
	transform: translateY(50px);
	opacity:0;
	transition: all 0.3s;
	&.animate-in {
		opacity: 1;
		transform: translateY(0);
	}
	&:nth-child(2) {
		transition-delay: 0.1s;
	}
	&:nth-child(3) {
		transition-delay: 0.15s;
	}
	&:nth-child(4) {
		transition-delay: 0.2s;
	}
	&:nth-child(5) {
		transition-delay: 0.25s;
	}
	&:nth-child(6) {
		transition-delay: 0.3s;
	}
	&:nth-child(7) {
		transition-delay: 0.35s;
	}
	&:nth-child(8) {
		transition-delay: 0.4s;
	}
}

.main-list-item-icon-wrapper {
	transition: transform 0.3s;
}	

.main-list-item-icon {
	position: relative;
    padding: 20px;
    border: 2px solid #00BCD4;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    box-sizing: border-box;
	margin:10px auto;

	img {
		width: 100%;
		height: 100%;
	}
}
.main-list-item-text{
	color:white;
	text-transform: uppercase;
	font-weight: 500;
}

/*  Graph Page */
#graph-page {
}
.chart-container {
	max-width: 700px;
	width: 100%;
	margin: auto;
}
.back-button {
	width: 40px;
	height: 40px;
	cursor:pointer;
	display:block;
	img {
		width: 100%;
	}
}
	