if (content_only != true)
	include ../includes/head.pug

section(id='main-page')
	h1(id='main-title' class='animate') The Skeptics Guide To The Universe
	h2(id='subtitle' class='animate') Science or Fiction Stats
	section(id='main-list-container')
		ul(id='main-list')
			li(class='main-list-item animate')
				a(href='/all-time/' class='full')
				div(class='main-list-item-icon-wrapper')
					div(class='main-list-item-icon')
							img(src='/images/icons/all-time.png')
					span(class='main-list-item-text') All Time Stats
			li(class='main-list-item animate') 
				div(class='main-list-item-icon-wrapper')
					div(class='main-list-item-icon')
							img(src='/images/icons/over-time.png')
					span(class='main-list-item-text') Win Rate
			li(class='main-list-item animate') 
				div(class='main-list-item-icon-wrapper')
					div(class='main-list-item-icon')
							img(src='/images/icons/categories.png')
					span(class='main-list-item-text') Categories
			li(class='main-list-item animate') 
				div(class='main-list-item-icon-wrapper')
					div(class='main-list-item-icon')
							img(src='/images/icons/numbers.gif')
					span(class='main-list-item-text') Order Bias
			li(class='main-list-item animate')
				div(class='main-list-item-icon-wrapper')
					div(class='main-list-item-icon')
							img(src='/images/icons/audience.png')
					span(class='main-list-item-text') Audience
			li(class='main-list-item animate')
				div(class='main-list-item-icon-wrapper')
					div(class='main-list-item-icon')
							img(src='/images/icons/over-time.png')
					span(class='main-list-item-text') Guests
			li(class='main-list-item animate')
				div(class='main-list-item-icon-wrapper')
					div(class='main-list-item-icon')
							img(src='/images/icons/over-time.png')
					span(class='main-list-item-text') Streaks
			li(class='main-list-item animate')
				div(class='main-list-item-icon-wrapper')
					div(class='main-list-item-icon')
							img(src='/images/icons/calendar.png')
					span(class='main-list-item-text') By Date
					
if (content_only != true)
	script.	
		/*
		setTimeout(function(){document.getElementById("main-page").style.background = "#00334B";}, 100 );
		setTimeout(function(){document.getElementById("main-title").style.opacity = 1;}, 1000);
		setTimeout(function(){document.getElementById("subtitle").style.opacity = 1;}, 2000 );
		setTimeout(function(){document.getElementById("main-title").style.transform = "translateY(0vh)";}, 3000 );
		setTimeout(function(){document.getElementById("subtitle").style.transform = "translateY(0vh)";}, 3000 );
		function makeVisible(element, delay){	
			setTimeout(function(){element.className = element.className.replace(/\bfade-out-down\b/,'');}, delay);
		}
		function makeInvisible(element, delay){	
			setTimeout(function(){element.className += 'fade-out-down';}, delay );
		}
		icons = document.getElementsByClassName("main-list-item");
		for(var i = 0; i < document.getElementsByClassName("main-list-item").length; i++){
			makeVisible(icons[i], (3800 + (i * 150)));
		}*/
	include ../includes/footer.pug
	
	