doctype
html
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title SGU Science or Fiction Stats
		meta(name='description', content='The Skeptics Guide to the Universe Science or Fiction Statistics')
		meta(name='viewport', content='minimum-scale=1.0, width=device-width')
		link(rel='apple-touch-icon', href='')
		link(rel='shortcut icon', type='image/x-icon', href='')
		link(rel='stylesheet', href='/css/main.css')
	body
		script.		
			var body = document.getElementsByTagName("body");
			body[0].className += ' animate-true ';
			